/* Extra Small Screen */
@media(max-width: 575.98px) {
    /* Header Section */
    #header{
        padding-left: 0;
    }
    #header .img {
        display: none;
    }
    .navbar-toggler{
        border: 1px solid #1c17b4;
        position: absolute;
        right: 20px;
        top: 16px;
    }
    .navbar-toggler .icon{
        color: #1c17b4;
    }
    #header .navbar-expand-lg {
        box-shadow: 0px 0px 20px #ddd;
        position: fixed;
        width: 100%;
        z-index: 100;
        background: #fff;
        justify-content: flex-start;
        padding: 8px 8px;
    }
    #header .btn{
        position: absolute;
        right: 80px;
        margin-left: 0;
        top: 16px;
        width: 80px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hide{
        display: none;
    }
    .hide-large{
        display: block;
    }
    #header .h-content {
        flex-direction: column;
        padding: 0 16px;
        padding-top: 100px;
    }
    #header .head-content h1 {
        font-size: 1.5rem;
    }
    #header .head-content p {
        font-size: 14px;
    }
    .h-content img {
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }
    #header .nav-link {
        color: #1c17b4;
        margin-left: 0;
    }
    .nav-item{
        margin-top: 15px;
        transition: all .3s ease-in-out;
    }
    .nav-item:hover{
        margin-top: 15px;
        background: #c3c2e34a;
        padding-left: 20px;
        border: 5px;
    }
    #header .link{
        font-size: 20px;
    }

    /* Start Section Our Services  */
    #Our-Services .head {
        padding: 50px 60px;
    }
    .Quality {
        font-size: 35px;
        margin-bottom: 20px;
    }
    #Our-Services .box {
        margin: 15px;
    }

    /* about section */
    #about .row{
        flex-direction: column;
        margin: 0;
    }
    #about .content h2 {
        font-size: 1.5rem;
    }
    #about .content p {
        font-size: 12px;
    }
    .div-video .span {
        font-size: 11px;
    }
    .about img{
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
    }
    .about p {
        font-size: 15px;
    }

    /* start portfolio section */
    #portfolio{
        flex-direction: column;
        padding: 50px 30px;
    }
    #portfolio .side-right{
        margin-top: 27px;
    }
    #portfolio .port-img{
        margin-bottom: 15px;
    }

    /* start success section */
    #Success {
        margin-left: 16px;
        margin-right: 16px;
    }
}

/* Small Screen */
@media(min-width: 576px) and (max-width: 767.98px) {
    /* Header Section */
    #header{
        padding-left: 0;
    }
    #header .img {
        display: none;
    }
    .navbar-toggler{
        border: 1px solid #1c17b4;
        position: absolute;
        right: 20px;
        top: 12px;
    }
    .navbar-toggler .icon{
        color: #1c17b4;
    }
    #header .navbar-expand-lg {
        box-shadow: 0px 0px 20px #ddd;
        position: fixed;
        width: 100%;
        z-index: 100;
        background: #fff;
        justify-content: flex-start;
        padding: 8px 40px;
    }
    #header .btn{
        position: absolute;
        right: 80px;
        margin-left: 0;
        top: 10px;
    }
    .hide{
        display: none;
    }
    .hide-large{
        display: block;
    }
    #header .h-content {
        flex-direction: column;
        padding-top: 100px;
    }
    .h-content img {
        width: 100%;
        height: 100%;
        padding-top: 20px;
    }
    #header .nav-link {
        color: #1c17b4;
        margin-left: 0;
    }
    .nav-item{
        margin-top: 15px;
        transition: all .3s ease-in-out;
    }
    .nav-item:hover{
        margin-top: 15px;
        background: #c3c2e34a;
        padding-left: 20px;
        border: 5px;
    }

    /* Start Section Our Services  */
    #Our-Services .head {
        padding: 50px 60px;
    }
    .Quality {
        font-size: 40px;
        margin-bottom: 20px;
    }
    #Our-Services .box {
        margin: 15px auto;
        max-width: 47%;
    }

    /* start about section */
    #about .row{
        flex-direction: column;
    }
    .about img{
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
        order: 1;
    }
    .powerImg{
        order: 1;
    }

    /* start portfolio section */
    #portfolio{
        flex-direction: column;
        padding: 50px 30px;
    }
    #portfolio .side-right{
        margin-top: 27px;
    }
    #portfolio .port-img{
        margin-bottom: 15px;
    }
}

/* Medium Screen */
@media(min-width: 768px) and (max-width: 991.98px) {
    /* Header Section */
    #header{
        padding-left: 0;
    }
    #header .img {
        display: none;
    }
    .navbar-toggler{
        border: 1px solid #1c17b4;
        position: absolute;
        right: 20px;
        top: 12px;
    }
    .navbar-toggler .icon{
        color: #1c17b4;
    }

    #header .navbar-expand-lg {
        box-shadow: 0px 0px 20px #ddd;
        position: fixed;
        width: 100%;
        z-index: 100;
        background: #fff;
        justify-content: flex-start;
        padding: 8px 40px;
    }
    #header .btn{
        position: absolute;
        right: 80px;
        margin-left: 0;
        top: 10px;
    }
    .hide{
        display: none;
    }
    .hide-large{
        display: block;
    }
    .h-content img {
        width: 100%;
        height: 100%;
    }
    #header .nav-link {
        color: #1c17b4;
        margin-left: 0;
    }
    .nav-item{
        margin-top: 15px;
        transition: all .3s ease-in-out;
    }
    .nav-item:hover{
        margin-top: 15px;
        background: #c3c2e34a;
        padding-left: 20px;
        border: 5px;
    }
    
    /* Start Section Our Services  */
    #Our-Services .head {
        padding: 50px 60px;
    }
    .Quality {
        font-size: 40px;
        margin-bottom: 20px;
    }
    #Our-Services .box {
        margin: 15px auto;
        max-width: 31.333333%;
    }

    /* start portfolio section */
    #portfolio {
        padding: 50px 50px;
    }
    #portfolio .port-img {
        margin-bottom: 50px;
    }
}

/* Large Screen*/
@media(min-width: 992px) and (max-width: 1199.98px) {
    /* Start Section Our Services  */
    #Our-Services .head {
        padding: 50px 60px;
    }
    .Quality {
        font-size: 40px;
        margin-bottom: 20px;
    }
    #Our-Services .box {
        margin: 15px auto;
        max-width: 31.333333%;
    }
    #Our-Services .head p {
        padding: 0px 140px;
    }
}

/* Extra Large Screen*/
@media(min-width: 1200px) {
    /* Start Section Our Services  */
    #Our-Services .head {
        padding: 50px 60px;
    }
    .Quality {
        font-size: 40px;
        margin-bottom: 20px;
    }
    #Our-Services .box {
        margin: 15px auto;
        max-width: 31.333333%;
    }
    #Our-Services .head p {
        padding: 0px 140px;
    }
}