/* **************** base **************** */
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
button:focus{
    outline: none;
}
#main-container{
    width: 100%;
    height: 100%;
}

/* **************** start header section **************** */
#header{
    position: relative;
    height: 100vh;
}
#header .img{
    position: absolute;
    right: 0;
    width: 800px;
}
#header .navbar-expand-lg {
    justify-content: space-between;
    padding: 32px 64px;
}
#header .navbar-collapse {
    flex-grow: 0;
}
#header .nav-link{
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    margin-left: 15px;
}
#header .nav-link:hover{
    color: #F38734;
    transition: all .3s ease-in-out;
}
#header .link {
    font-weight: bold;
    color: #1c17b4;
}
.ui-expert:hover{
    color: #F38734;
    transition: all .3s ease-in-out;
}
#header .btn{
    width: 100px;
    height: 35px;
    color: #fff;
    background: #F38734;
    border: none;
    text-transform: uppercase;
    border-radius: 25px;
    margin-left: 15px;
}
#header .btn:hover{
    background: none;
    border: 1px solid #F38734;
    color: #F38734;
}
#header .link{
    font-weight: bold;
    font-size: 25px;
}
#header .link span{
    font-weight: normal;
}
.hide-large{
    display: none;
}
#header .h-content{
    padding-top: 140px;
    display: flex;
}
#header .h-content p{
    color: #a2a2a2;
}
#header .head-content {
    flex-basis: 50%;
}
#header .div-img {
    flex-basis: 50%;
}
#header .div-img img{
    width: 100%;
    height: 100%;
}
.wave{
    width: 120px;
    height: 40px;
    background: #1c17b4;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 2px 20px #1c17b4;
    transition: all .3s ease-in-out;
}
.wave:hover{
    transform: scale(.9);
}
.wave a{
    color: #fff;
    padding-left: 6px;
    text-decoration: none;
}
.wave .img-waving{
    padding: 0;
    width: 20px;
    height: 20px;
}

/* **************** Start Section Our Services **************** */
#Our-Services{
    max-width: 100%;
    max-height: 100%;
    background-color: #eee;
}
#Our-Services .head{
    text-align: center;
    padding: 50px 290px;
}
#Our-Services .head p {
    color: #a2a2a2;
}
#Our-Services .Quality {
    text-transform: capitalize;
    font-size: 20px;
}
#Our-Services .box{
    height: 350px;
    color: #fff;
    padding: 0 30px;
    text-align: center;
    transition: all .3s ease-in-out;
}
#Our-Services .box:hover{
    transform: translateY(-15px);
    cursor: pointer;
}
#Our-Services .box .btn{
    border-radius: 25px;
    color: #fff;
    border-color: #fff;
}
#Our-Services .box .btn:hover{
    background-color: #fff;
    color: #000;
}
#Our-Services .box h2{
    text-transform: capitalize;
    font-size: 20px;
    margin-top: 40px;
}
#Our-Services .box p{
    margin-bottom: 35px;
    text-align: center;
    font-size: 15px;
}
.orange{
    background: linear-gradient(to bottom left, #e89d59ba, #ce8847);
}
.blueLight{
    background: linear-gradient(to bottom left, #abe2ec7a, #2ba1b6);
}
.purpleDark{
    background: linear-gradient(to bottom left, #8137cbc7, #58258b);
}
.blue{
    background: linear-gradient(to bottom left, #2a38dec9, #3d39bc);
}
.purpleLight{
    background: linear-gradient(to bottom left, #5b8cc1de, #317fd3);
}
.red{
    background: linear-gradient(to bottom left, #d7756be8, #d0442d);
}
#Our-Services .box img{
    width: 70px;
    height: 65px;
    margin: 20px 0;
}

/* **************** Start about section **************** */
#about .row{
    padding-top: 100px;
    padding-bottom: 100px;
    flex-wrap: nowrap;
    width: 100%;
}
#about .content{
    margin: auto 0;
    flex-basis: calc(50% - 32px);
    margin-left: 32px;
}
#about .col-xs-12.col-m-6.powerImg {
    flex-basis: 50%;
}

#about .col-xs-12.col-m-6.powerImg img {
    width: 100%;
}

.div-video{  
    display: flex;
    align-items: center;
}
.div-iconVideo{
    width: 50px;
    height: 50px;
    background: #1c17b4;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.div-iconVideo .icon{
    color: #fff;
    font-size: 23px;
    padding-left: 5px;
}
.div-line{
    width: 80px;
    height: 5px;
    background: #ccc;
    margin-left: 20px;
}
.div-video .span{
    font-size: 13px;
    color: #a9a9a9;
    margin-left: 20px;
}

/* **************** start portfolio section **************** */
#portfolio{
    background: #eee;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    padding: 50px 100px;
}
#portfolio .side-left{
    flex-basis:35%
}
.side-left p{
    color: #a2a2a2;
}
#portfolio .side-right{
    flex-basis:65%
}
#portfolio .row .div-img2{
    width: 220px;
    height: 157px;
    margin: auto;
}
#portfolio .nav{
    display: flex;
    flex-direction: column;
}
#portfolio .nav .active{
    color: #1c17b4;
    font-weight: bold;
}
#portfolio .nav .active::after{
    content: '';
    width: 157px;
    height: 3px;
    background-color: #1c17b4;
    position: absolute;
    bottom: 7px;
    left: 0;
    border-radius: 12px;
}
#portfolio .nav a{
    width: 50%;
    padding: 15px 0;
    text-decoration: none;
    color: #41415f;
    position: relative;
    transition: all .3s ease-in-out;
}
#portfolio .nav a:hover{
    color: #1c17b4;
    font-weight: bold;
}
#portfolio .nav a:hover::after{
    content: '';
    width: 157px;
    height: 3px;
    background-color: #1c17b4;
    position: absolute;
    bottom: 7px;
    left: 0;
    border-radius: 12px;    
}
.slide{
    display: flex;
    flex-direction: column;
}
#portfolio .port-box{
    display: flex;
    flex-wrap: wrap;
}
#portfolio .port-img {
    flex-basis: 40%;
    margin: 0 5%;
    width: 160px;
    height: 160px;
    margin-bottom: 100px;
}
.port-img img{
    width: 100%;
    object-fit: cover;
}
/* carousel */
.carousel-indicators{
    bottom: -50px;
}
.carousel-indicators li{
    width: 15px;
    height: 15px;
    background-color: #1c17b4;
    border-radius: 50%;
}
.carousel-indicators .active {
    width: 50px;
    height: 15px;
    border-radius: 14px;
}
.carousel-item.active {
    opacity: 1;
}
.carousel-item{
    opacity: 0;
}

/* **************** start success section **************** */
#Success{
    padding: 88px 0;
    text-align: center;
}
#Success h2{
    font-size: 50px;
}
#Success p{
    font-size: 15px;
    color: #a2a2a2;
    margin-top: 15px;
}
#Success .box-success{
    box-shadow: 0px 15px 20px #eee;
    border-radius: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 159px;
    flex-direction: column;
    margin-top: 64px;
    transition: all .3s ease-in-out;
}
#Success .box-success:hover{
    transform: translateY(-15px);
    cursor: pointer;
}
#Success .rate{
    width: 100px;
    height: 100px;
    border-radius: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #fff;
}
#Success .blue{
    background: linear-gradient(to bottom left, #0657b0, #2ba1b6);
    box-shadow: 0px 25px 25px -15px #0657b0;
}
#Success .pink{
    background: linear-gradient(to bottom left, #dd2d1ae8, #f0a5b1b5);
    box-shadow: 0px 25px 25px -15px #dd2d1ae8;
}
#Success .orange{
    background: linear-gradient(to bottom left, #e8750d, #ddad7f70);
    box-shadow: 0px 25px 25px -15px #e8750d;
}